@font-face {
  font-family: AstroSpace;
  src: url(/fonts/AstroSpace.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #212c3b;
}

header {
  background-color: #141b25;
}

.main-nav {
  height: 90px;
}

.logo {
  color: white;
  line-height: 90px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  font-family: "AstroSpace", sans-serif;
}

.navlinks {
  list-style: none;
  float: right;
  line-height: 90px;
  margin: 0;
  padding: 0;
}

.navlinks li {
  display: inline-block;
  margin: 0px 20px;
}

.navlinks li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s linear 0s;
  text-transform: uppercase;
}

.navlinks li a:hover {
  color: #7ebcb9;
  padding-bottom: 7px;
  border-bottom: 2px solid #7ebcb9;
}

li a.contact {
  background-color: #00adb5;
  padding: 9px 20px;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  border-bottom: none;
}

li a.contact:hover {
  background-color: #047e85;
  color: white;
  border-bottom: none;
}

#check {
  display: none;
}

.menu-btn {
  font-size: 25px;
  color: white;
  float: right;
  line-height: 90px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  .navlinks {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: all 0.5s;
    right: -100%;
    background: #222831;
  }

  .navlinks li {
    display: block;
  }

  .navlinks li a {
    font-size: 20px;
  }

  .navlinks li a:hover {
    border-bottom: none;
  }

  .menu-btn {
    display: block;
  }



  #check:checked ~ .navlinks {
    right: 0;
  }
}

@media (max-width: 360px) {
  .logo {
    margin-left: 10px;
    font-size: 25px;
  }

  .menu-btn {
    margin-right: 10px;
    font-size: 25px;
  }

  .menu-btn:focus {
    color: blue;
  }
}

.slides{position:absolute; width:1000px; top:100px; left:10px}
.points{position:absolute; top:100px; right:80px;}
.points{font-family:Times; font-weight:bold; font-size:50px; color:green; text-shadow:1px 1px white}
.points ul {list-style: none;}
.points ul li:before {content: '✓';}


CONTACT US
* {
	margin: 0;
	padding: 0;
}

.firstsection {
	height: 100vh;
}

.box-main {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	max-width: 50%;
	margin: auto;
	height: 80%;
}

.firstHalf {
	width: 75%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.firstHalf img {
	display: flex;
	border-radius: 9050px;
}

.text-big {
	font-family: "Piazzolla", serif;
	font-weight: bold;
	font-size: 41px;
	text-align: center;
}

.text-small {
	font-family: "Sansita Swashed", cursive;
	font-size: 18px;
	text-align: center;
}

#service {
	margin: 34px;
	display: flex;
}

#service .box {
	padding: 45px;
	margin: 3px 6px;
	border-radius: 28px;
}

#service .box img {
	margin-top: 20px;
	height: 100px;
	margin: auto;
	display: block;
	border-radius: 200px;
}

#service .box p {
	font-family: sans-serif;
	text-align: center;
}

.btn {
	padding: 8px 20px;
	margin: 7px 0;
	border: 2px solid white;
	border-radius: 8px;
	background: none;
	color: white;
	cursor: pointer;
}

.btn-sm {
	padding: 6px 10px;
	vertical-align: middle;
}

.center {
	text-align: center;
}

.text-footer {
	text-align: center;
	padding: 30px 0;
	font-family: "Ubuntu", sans-serif;
	display: flex;
	justify-content: center;
}
